@{
    ViewBag.Title = "About";
}

<div class="parallax">
</div>
<h2> About </h2>
<p>
    I created this website to works like a portfolio
    i hope that i can help you with a website or an app
    or something like this. I will create more pages
    with my projects.
    So, any doubt, let me know, i hope that i can help you
    somehow.
    <br />
    ps.: i'm good with creative process (design) too =)
</p>
<h2> Sobre </h2>
<p>
    Eu criei esse site afim de expor o meu trabalho como
    desenvolvedora web e mobile, ou seja, vai funcionar
    como um portifólio. Eu ainda preciso adicionar algumas
    páginas com mais cases.
    Então, qualquer dúvida a respeito do meu trabalho, entre em contato
    comigo, espero poder ajudar de alguma forma.
    <br/>
    ps.: eu sou boa com processo criativo (design) também =)
</p>