@{
    ViewBag.Title = "Home Page";
}

<div class="parallax">
</div>
<h2> Do you need a website or app? </h2>
<p>
    Nowadays, the digital comunnity is biggest than ever, isn't only a recreation
    place but a professional place too, for companies, it's a way to achieve
    more clients, and, to clients, it's a way to have a nice shopping experience,
    because it's possible to compare many products in a few minutes. <br />
    I mean, you won't lose it, don't you? Trust me, a website or an app is the better
    investment that you can do. You will save time and avoid stress.
</p>
<h2> Precisa de um site ou aplicativo? </h2>
<p>
    Nos dias atuais, a comunidade digital está maior do que
    nunca, sendo não só um lugar para lazer mas um ambiente
    profissional, para as empresas, é uma forma de alcançar mais pessoas
    para o cliente, uma experiencia rápida e eficiênte, uma vez que
    é possivel visualizar vários produtos de diversos lugares em poucos
    minutos. <br />
    Com isso, você não pode ficar de fora né? Confie em mim, um site ou uma aplicação
    para a sua empresa é um investimento que super vale apena, só pelo fato
    de lhe poupar tempo e estresse.
</p>
<br />